*.pyc
/.tidyall.d/
/MANIFEST
/_Inline/
/build/*
/data/cardsets/*
/data/html/*
/dist/*
/docs/all_games.html
/html
/html-src/html/*
/images
/locale/*
/po/de.po
/po/fr.po
/po/it.po
/po/pl.po
/po/ru.po
/po/pt_BR.po
/tests/individually-importing/*.py
/tests/unit-generated/*.py
PySolFC-Cardsets--Minimal-2.0.*
PySolFC-Cardsets--Minimal-2.0/
PySolFC-Cardsets-2.0.*
PySolFC-Cardsets-2.0/
PySolFC-Cardsets--Minimal-3.0.*
PySolFC-Cardsets--Minimal-3.0/
PySolFC-Cardsets-3.0.*
PySolFC-Cardsets-3.0/
android/*.apk
android/*.zip
android/bin/keystore
buildozer/.buildozer*
buildozer/PySolFC-Cardsets*
buildozer/cardsets
buildozer/bin
buildozer/tmp
buildozer/support*
buildozer/ENV
buildozer/VENV
venv*
