addons:
    apt:
        packages:
            - cpanminus
            - libperl-dev
            - make
            - perl
            - python-glade2
            - python-gnome2
            - python-gnome2-dev
            - python-gtk2
            - python-pil
            - python-pil-imagetk
            - python-setuptools
            - python-tk
            - python3
            - python3-pil
            - python3-pil-imagetk
            - python3-pip
            - python3-setuptools
            - python3-tk
    homebrew:
        update: true
        brewfile: true
cache:
    directories:
        - $HOME/perl_modules
        - $HOME/tidyall_d
deploy:
    provider: releases
    api_key:
        secure: SrKnXigL/oUHNbqpbGx0DB1o+LAEkfPA2QTBllXxg4V+1vGAHBT9FRecp8Do+no/zSPRttH+sPDEPBXMMAV0BWVKKw5Mxas/S5ulVkNdfxpTq1bKjI3EjZbVsS1zZlHe0P77TDFDAj8zyeiYecBM08suhd9OvScieiPlpFPE1UYp9vvNKaBgc66IRNnIDRBdktW4YLsgvkrpXnxGPy8gGwylsTeOzNs5/r5dzHswGdksJl46kqCIbV+s4/Xcx+BEnfibWzEFZmLQoGKhoukbSis3YXGIlERcgiVU6v7S2D4wbwUXSAKOj/Io7z/88Co2P3Qbm538kf/pjeR9+DaM1HsHQQcL0detCjjLog+ekKr2fM00QI1yRmqOiZtuXxTMpneYX73EBmPt4la4rjKmnlhS+NTxrynHcPZD8QopCPvoZ3sUD6dQCrbi8kcGxe13srfdJ3KjuWZXdedLIOgNELbj5o6GNivsanWna59yoJzChC5/H5Jjllncvzbp56TZfEkM1NJkE84jjSS8Sn2KLXjD0woHIsuUSkRNExrCt/6QmIub/QxZPUhwQ2J0xCv1IJPdd0XvO3gCqasG3UA2Q0OlP172x92ocOV/wm1/4wfoG6v/mn+bX5ZwvrsMmm+r3FKKlM8L3T33yFjMzgG/YMoRN8w7pXUIkdtZK8EEDVg=
    # file: dist/PySolFC.app
    file: PySolFC.app.tar.xz
    on:
        repo: shlomif/PySolFC
        tags: true
    skip_cleanup: true
dist: xenial
before_install:
    - if test "$TRAVIS_OS_NAME" = "osx" ; then export CPPFLAGS="$CPPFLAGS -I$(brew --prefix openssl)/include" PKG_CONFIG_PATH="$(brew --prefix openssl)/lib/pkgconfig:$PKG_CONFIG_PATH" LDFLAGS="$LDFLAGS -L$(brew --prefix openssl)/lib" ;fi
    - if test "$TRAVIS_OS_NAME" = "osx" ; then wget --content-disposition https://sourceforge.net/projects/pysolfc/files/PySolFC-Cardsets/minimal/PySolFC-Cardsets--Minimal-2.0.tar.xz/download && tar xJf PySolFC-Cardsets--Minimal-2.0.tar.xz && mv PySolFC-Cardsets--Minimal-2.0/cardset-* data ; fi
install:
    - sudo cpanm --notest Capture::Tiny
    - sudo cpanm Code::TidyAll::Plugin::Flake8 Perl::Tidy Test::Code::TidyAll Test::Differences Test::TrailingSpace
    - export PY_MODS='pycotap pysol-cards random2 six'
    - "`which python3` -m pip install --upgrade flake8 flake8-import-order $PY_MODS"
    - "sudo /usr/bin/python3 -m pip install --upgrade $PY_MODS || true"
    - "sudo `which python2` -m pip install --upgrade $PY_MODS"
    - which python
    - which python2
language: python
python: "3.6"
matrix:
    include:
        - os: linux
        - os: osx
          language: generic
          env:
            - TOXENV=py35
            - PATH="/usr/local/opt/openssl/bin:$PATH:/usr/local/bin"
            - DYLD_LIBRARY_PATH="/usr/local/opt/curl/lib:/usr/local/opt/openssl/lib:${DYLD_LIBRARY_PATH}"
            - LDFLAGS="$LDFLAGS -L/usr/local/opt/openssl/lib"
            - CPPFLAGS="$CPPFLAGS -I/usr/local/opt/openssl/include"
script:
    - export TIDYALL_DATA_DIR="$HOME/tidyall_d"
    - bash -x scripts/travis-ci-build
    - if test "$TRAVIS_OS_NAME" = "osx" ; then PYTHONPATH="`pwd`" python3 setup_osx.py py2app ; fi
    - if test "$TRAVIS_OS_NAME" = "osx" ; then find . -iname '*.app' ; fi
    - if test "$TRAVIS_OS_NAME" = "osx" ; then (cd dist; tar -cvf ../PySolFC.app.tar PySolFC.app/ ; ); xz PySolFC.app.tar ; fi
