[Desktop Entry]
Name=PySol Fan Club Edition
Comment=More than 1000 solitaire card games
Exec=pysol.py
StartupWMClass=Pysol
Terminal=false
Type=Application
Categories=Game;CardGame;
Keywords=solitaire;patience;cards;pysolfc;klondike;
Icon=pysol
